/* treine mais media query */


@media  screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #ffffff, #e91e5b);
    }
    
    #login {
        width: 70vw;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    

    #login > #form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: linear-gradient(to top, #ffffff, darkmagenta);
    }
    
    #login {
        width: 90vh;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    

    #login > #form {
        float: right;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    
    body {
        background-image: linear-gradient(to top, #ffffff, darkslateblue)
    }

    #login {
        width: 90vh;
    }

    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    

    #login > #form {
        float: right;
        width: 50%;
    }
}

