/* treine mais media query */


@media  screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #ffffff, #e91e5b);
    }
    
    #login {
        width: 70vw;
        height: 300px;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    

    #login > #form {
        float: right;
        width: 70%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: linear-gradient(to top, #ffffff, #8b0068);
    }
    
    #login {
        width: 90vh;
        height: 400px;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    

    #login > #form {
        float: right;
        width: 50%;
    }

    .dior {
        background-color: darkmagenta;
        display: block;
        height: 45px;
        border: 1px solid black;
        padding: 4px;
        margin-top: 10px;
        border-radius: 10px;
        color: white;
    }
    
    .porra {
        background-color: #eb41eb4d;
        border: none;
        width: calc(100% - 54px);
        height: 100%;
        padding: 4px;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1200px) {
    
    body {
        background-image: linear-gradient(to top, #ffffff, darkmagenta)
    }

    #login {
        width: 90vh;
    }

    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    

    #login > #form {
        float: right;
        width: 50%;
    }

    .dior {
        background-color: darkslateblue;
        display: block;
        height: 45px;
        border: 1px solid black;
        padding: 4px;
        margin-top: 10px;
        border-radius: 10px;
        color: white;
    }
    
    .porra {
       
        border: none;
        width: calc(100% - 54px);
        height: 100%;
        padding: 4px;
        border-radius: 6px;
    }
}

